ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #659df7;
}

ul.topnav li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
  margin: 0 20px 0 20px;
  padding: 20px 0 20px 0;
}

ul.topnav li.icon {
  display: none;
}

@media screen and (max-width:850px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }

  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:850px) {
  ul.topnav.responsive {
    position: relative;
    /*background-color: red;*/
    /*background-color: #5C8ED6;*/
  }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }

  ul.topnav.responsive li .active {
    display: block;
    text-align: left;
  }
}
